@using System.Web.Configuration
@{
	Layout = null;
	//string link = string.Format("http://{0}/Account/ResetPasswordConfirmation/{1}", WebConfigurationManager.AppSettings.Get("SiteUrl"), ViewBag.ConfirmationToken);
	var link = Url.Action(
			  "ResetPasswordConfirmation", "Account",
			  new { Id = Html.Encode(ViewBag.ConfirmationToken) },
			  protocol: Request.Url?.Scheme);
}
<h1>Subject: @ViewBag.Subject</h1>
<div>@Resources.MailTo: @ViewBag.To</div>
<div>
	@Resources.MailFrom: @WebConfigurationManager.AppSettings.Get("NoReplyMail")
	<h3>@Resources.MailSubject: @ViewBag.Subject</h3>


	<p>@ViewBag.UserName @Resources.Salute @Resources.Hello,</p>
	<p>@Resources.ResetPasswordParagraph: @link</p>
</div>
