@using System.Web.Configuration
@{
	Layout = null;
	//string link = string.Format("http://{0}/Account/RegisterConfirmation/{1}", WebConfigurationManager.AppSettings.Get("SiteUrl"), ViewBag.ConfirmationToken);
	var link = Url.Action(
			  "RegisterConfirmation", "Account",
			  new { Id = Html.Encode(ViewBag.ConfirmationToken) },
			  protocol: Request.Url?.Scheme);
}

<div>@Resources.MailTo: @ViewBag.To</div>
<div>@Resources.MailFrom: @WebConfigurationManager.AppSettings.Get("NoReplyMail")
</div>
<div>@Resources.MailSubject: @Resources.CompleteRegisterProcess</div>

<p>@ViewBag.UserName @Resources.Salute @Resources.Hello,</p>

<p>@Resources.ToCompleteRegisterClickLink: @link</p>