@using UI.Helpers
@using UI.Models.WC
@{
	bool isAdmin = Roles.IsUserInRole("Admin");
	bool isEditor = Roles.IsUserInRole("Editor");
	WcAdminUrl wcAdminUrlLink;
	WcHelper.GetAdminUrlLinks(out wcAdminUrlLink);
}
@if (Request.IsAuthenticated && (isAdmin || isEditor))
{
	<p>

		@if (isAdmin)
		{
			//@Html.ActionLink("Pos", "Index", "Pos")
			@*<a href="@wcAdminUrl.PosUrl">@Resources.Pos</a>*@
			@Html.Raw(wcAdminUrlLink.PosUrl)
		}

		@*<a href="@wcAdminUrl.WordUrl">@Resources.Word</a> |
		<a href="@wcAdminUrl.ColUrl">@Resources.Collocation</a> |
		<a href="@wcAdminUrl.ExUrl">@Resources.Example</a>*@


		@*@Html.ActionLink("Word", "Index", "Word")@Html.Raw(" | ")
		@Html.ActionLink("Collocation", "Index", "Collocation")@Html.Raw(" | ")
			@Html.ActionLink("Example", "Index", "Example")*@
		
		@Html.Raw(wcAdminUrlLink.WordUrl) | @Html.Raw(wcAdminUrlLink.ColUrl) | @Html.Raw(wcAdminUrlLink.ExUrl)
		
		
		@Html.Raw(" | ")
		<a href="/WebServices/WcServices.asmx">@Resources.WebServices</a>
	</p>
}
