@using CommonLib.Helpers
@using UI.Models.Extensions
@{
	var currentYear = DateTime.Now.Year;
	var footer = currentYear == 2016 ? Html.Raw(string.Format("&copy; 2016 {0} {1}.", Resources.SiteTitle, Resources.AllRightsReserved)) : Html.Raw(string.Format("&copy; 2016 - {0} {1}. {2}", currentYear, Resources.SiteTitle, Resources.AllRightsReserved));

	string navClass = "nav ww-nav pull-right hidden-phone";
	if (Request.IsAuthenticated)
	{
		navClass = "nav ww-nav-admin pull-right hidden-phone";
	}
	string lang = CultureHelper.GetCurrentNeutralCulture();
	string dir = CultureHelper.IsRighToLeft() ? "rtl" : "ltr";

	string title = string.Format("{0}: {1}", Resources.SiteTitle, ViewBag.Title);
}
<!DOCTYPE html>
<html lang="@lang" dir="@dir" class="no-js" xmlns:fb="http://ogp.me/ns/fb#">
<head prefix="og: http://ogp.me/ns# object: http://ogp.me/ns/object#">
	<meta charset="UTF-8">
	<meta name="description" content="A Word Collocation website designed for Chinese-English translators and students.">
	<meta name="keywords" content="Word Collocation, WordCollocation">
	<meta property="og:title"
		  content="@title" />
	<meta property="og:site_name" content="@Resources.SiteTitle" />
	<meta property="og:url"
		  content="http://www.wordcollocation.net" />
	<meta property="og:description" content="A Word Collocation website designed for Chinese-English translators and students." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@title</title>
	<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/icons/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="/icons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Poiret+One|PT+Serif|Open+Sans:400,300' rel='stylesheet' type='text/css'>

	@Scripts.Render("~/bundles/modernizr")
	@Styles.Render("~/bundles/css")
	@Html.RenderStyles()
</head>
<body>
	<div class="container">
		<div class="masthead clearfix">
			<a href="~/">
				<img id="logo" src="@Url.Content("~/Images/wclogo.png")" alt="@Resources.SiteTitle" title="@Resources.SiteTitle">
			</a>
			<ul id="nav" class="@navClass">
				<li class="active">@Html.ActionLink(Resources.Home, "Index", "Home")</li>
				
				@if (Request.IsAuthenticated && (Roles.IsUserInRole("Admin") || Roles.IsUserInRole("Editor")))
				{
					<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">@Resources.WcAdmin <b class="caret"></b></a>
						@Html.Partial("_WcAdminDropDown")
					</li>
				}

				@if (Request.IsAuthenticated && User.IsInRole("Admin"))
				{
					<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">@Resources.AccountManagement <b class="caret"></b></a>
						@Html.Partial("_AccountManagementDropDown")
					</li>
				}

				<li class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">@Resources.ChooseLanguage <b class="caret"></b></a>
					@Html.Partial("_SetCultureDropDown")
				</li>



				<li>@Html.Partial("_LoginPartial")</li>
				<li>@Html.ActionLink(Resources.IhaveOpinion, "Index", "Contact")</li>
			</ul>
		</div>
		<hr>

		<div class="row main-content">

			@*@Html.Partial("_Underconstruction")*@

			<!-- for debug only starts -->
			@*@Html.ActionLink("JsError", "Index", "ElmahJsDemo")*@
			<!-- for debug only ends -->

			<div class="offset1 span6 zone-content">
				@RenderBody()
			</div>
		</div>
		<hr>

		@Html.Partial("_Footer", footer)
	</div>
	<!-- End Container -->
	@*@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")*@
	@Scripts.Render("~/bundles/layout")
	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("scripts", false)

	@*@if ((LoggingHandler)HttpContext.Current.Session[MvcApplication.LoggingHandlerSession] == LoggingHandler.Elmah)
		{*@
	<!-- for elmah: DON'T move/remove/replace the following code (into bundle/other js file)!!! -->
	<!-- for elmah: logErrorUrl is a global variable, used by errorhandler.js rendered in the following 'layout bundle'...-->
	@*<script>
		var logErrorUrl = '@Url.Action("LogJavaScriptError", "Error")';
	</script>*@
	<script src="@Url.Content("~/scripts/errorhandler.min.js")"></script>
	@* } *@

	@Html.RenderJavaScripts()
</body>
</html>
