@{
	ViewBag.Title = THResources.Resources.SystemError;
}

<h3>@ViewBag.Title</h3>
<p>@THResources.Resources.Sorry! @THResources.Resources.DbConnectionFailed。</p>
<p>@THResources.Resources.DBEnginesInTrouble: @ViewBag.DbEngines</p>
