@using BLL.Abstract
@using UI.Helpers
@model UI.Models.ViewModels.CollocationViewModel

@{
	Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
	//string action = User.IsInRole("Admin") ? "IndexForAdmin" : "IndexForEditor";
	ViewDataDictionary dict = new ViewDataDictionary();
	dict.Add("Header", ModelType.Collocation.ToString());
	dict.Add("Create","Create");
	dict.Add("Controller", ModelType.Collocation.ToString());
}

@*<h3>Collocation</h3>

<div>
	@Html.ActionLink("Create New", "Create")
</div>*@

@*<div><span class="h3 blue">@ModelType.Collocation</span><span class="fRight">@Html.ActionLink(THResources.Resources.Add, "Create")</span></div>
<div class="clearRight">&nbsp;</div>*@

@Html.Partial("_IndexHeader",dict)

<table class="table">
	<tr>
		<th>Id</th>
		<th>
			Pos
		</th>
		<th>
			ColPos
		</th>
		<th>
			Word
		</th>
		<th>
			ColWord
		</th>
		<th>
			CollocationPattern
		</th>
		<th>Examples</th>
		<th></th>
	</tr>

	@foreach (var item in Model.CollocationList)
	{
		<tr>
			<td>@Html.DisplayFor(modelItem=>item.Id)</td>
			<td>
				@Html.DisplayFor(modelItem => item.Pos)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ColPos)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Word)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ColWord)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CollocationPattern)
			</td>
			<td>
				@if (item.Examples != null && item.Examples.Count > 0)
				{
					foreach (var example in item.Examples)
					{
						@Html.Partial("_ExampleListPartial", example)
					}
				}
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { id = item.Id, returnUrl = Request.Url, onclick = string.Format("return confirm('{0}');", THResources.Resources.ConfirmDelete) })
			</td>
		</tr>
	}

</table>
<div class="pagination">
	@Html.PageLinks(Model.CollocationPagingInfo, x => Url.Action("Index", "Collocation", new { page = x }))
</div>
