@using BLL.Abstract
@model UI.Models.ViewModels.ExampleViewModel

@{
	//ViewData["SourceList"] = Model.SourceList;
	//ViewData["CollocationIdDropDownList"] = Model.CollocationIdDropDownList;
	Layout = "~/Views/Shared/_Layout.cshtml";
	string action = (string)ViewData["Action"];
	string title = action + "--" + ModelType.Example;
	ViewDataDictionary dict = new ViewDataDictionary();
	dict.Add("SourceList",Model.SourceList);
	dict.Add("CollocationIdDropDownList", Model.CollocationIdDropDownList);
	dict.Add("CreateMode", ViewData["CreateMode"]);
	dict.Add("Action", action);
}

<div class="span4">
	<span class="h3 blue">@title</span>

	@if (ViewBag.ErrorMessage != null)
	{
		<p class="alert">ErrorMessage: @ViewBag.ErrorMessage</p>
	}

	@if (ViewBag.InnerMessage != null)
	{
		<p class="alert">ErrorMessage: @ViewBag.InnerMessage</p>
	}

	@if (ViewBag.IsDuplicatedEntry != null)
	{
		<p class="alert">ErrorMessage: @THResources.Resources.DuplicatedEntry</p>
	}
</div>

@Html.Partial("_ExampleFormPartial", Model.ExampleList, dict)


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/ExampleForm.js"></script>
}
