@model ResetPasswordConfirmModel

@{
	ViewBag.Title = Resources.ResetPassword;
}

<div class="span3">
	<h3>@ViewBag.Title</h3>
	@Html.Partial("_ViewBagErrorList")
	<section id="loginForm">
		@using (Html.BeginForm())
		{
			@Html.ValidationSummary(true)
			@Html.AntiForgeryToken()

			@Html.Hidden("Token", Model.Token)

			<div class="form-group">
				@Html.LabelFor(model => model.NewPassword)
				@Html.EditorFor(model => model.NewPassword)
				@Html.ValidationMessageFor(model => model.NewPassword)
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ConfirmNewPassword)
				@Html.EditorFor(model => model.ConfirmNewPassword)
				@Html.ValidationMessageFor(model => model.ConfirmNewPassword)
			</div>

			<div class="form-group">
				<button id="btnSubmit" type="submit">@Resources.Send</button>
			</div>

		}
	</section>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
